MYSQL_ROOT_PASSWORD=mypassword
MYSQL_DATABASE=vending
MYSQL_USER=myuser
MYSQL_PASSWORD=mypassword

BLOCKFROST_API_KEY=blockfrost-api-key
IPFS_API_KEY=ipfs-api-key
RECOVERY_PHRASE="recovery phrase of preprod wallet"
DB_URL=jdbc:mysql://mysql-db:3306/vending
DB_USER=myuser
DB_PASSWORD=mypassword
